- provide(:title, "Lista de Deudores")

= form_tag debtors_path, :method => 'get' do
  -# debtors_path might not be best?
  %p
    = search_field_tag :search, params[:search]
    .btn-group 
      = submit_tag "Buscar", :name => nil, :class => 'btn' 
  -#end
-# "Search Params? #{!params[:search].nil?}"
-# "Debtor #{@debtors.empty?}"
%h1 Lista de Deudores
-if params[:search].blank?
  - #will_paginate

  %ul.debtors
    = render @debtors
    /

  = will_paginate @debtors
-elsif @debtors.empty?
  %h4="No hay resultados para: #{params[:search]}" 
-else
  %h4="Resultados para: #{params[:search]}" 
  %ul.debtors
    = render @debtors
/