- provide(:title, "Record del Deudor")
%h1 Record del Deudor:
.row
  %aside.col-md-6
    %section
      %h1
        = @debtor.name
        %br
    %section
      .table-responsive
        %table.table-bordered.table-striped
          %thead
            %tr
              %td.grey
                Email:
              %td.grey.span4
                = @debtor.email
            %tr
              %td
                Teléfono:
              %td
                = "#{@debtor.tel} #{@debtor.ext}"
            %tr
              %td
                = @debtor.employer_id_number.blank? ? "SS -xxxx": "EIN"
              %td
                = @debtor.employer_id_number.blank? ? @debtor.ss_last_four : @debtor.employer_id_number
            %tr
              %td.grey
                Persona Contácto
              %td.grey
                = @debtor.contact_person
            %tr
              %td
                Email de la Persona Contácto
              %td
                = @debtor.contact_person_email             
  %aside.col-md-4
    %h1
    %section
      .table-responsive
        %table.table-bordered
          %thead
            %tr
              %th.col-md-1.grey
                Dirección Postal
              %td.col-md-1.grey
                = @debtor.address
          %tbody  
            %tr
              %th.col-md-1
                Dirección Física
              %td.col-md-1
                = @debtor.location
      %p
        = link_to "<span class='glyphicon glyphicon-pencil'></span> Editar Record del Deudor".html_safe, edit_debtor_path  
        
%p
  -#DONE added params[:id] to request
  .btn-group
    = button_to "Añadir Factura", new_debt_path, :class => "btn btn-large btn-primary", :method => 'get', params: {debtor_id: @debtor.id}        
%div
  %h5
    %strong
      = "Facturas:" if @debtor.respond_to?(:debts) && !@debtor.debts.blank?
  .col-md-8
    = render @debtor.debts
