%li.grey
  %strong
    =link_to ("<span class='glyphicon glyphicon-folder-open'></span> ".html_safe + "#{number_to_currency debt.amount_owed_pending_balance, :unit => '$'}"), debt_path(debt.id)
  %span
    %li.light-grey.round-top-corners  
      %em Banco emitidor del cheque:
      = "#{debt.bank_name}"
    %li.light-grey
      %em Número del cheque devuelto: 
      = "#{debt.bounced_check_number}"
    %li.light-grey
      %em Notas: 
      = " #{debt.notes}"
    %li{:class => '#{red_green_yellow_grey_tag(@debt)} round-bottom-corners'}
      %em Pagada?
      = " #{debt.paid_in_full? ? 'si' : 'no'} "
