<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Facturas">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">permit_infraction_number</Data></Cell>
        <Cell><Data ss:Type="String">amount_owed_pending_balance</Data></Cell>
        <Cell><Data ss:Type="String">paid_in_full</Data></Cell>
        <Cell><Data ss:Type="String">type_of_debt</Data></Cell>
        <Cell><Data ss:Type="String">date_of_original_debt_date</Data></Cell>
        <Cell><Data ss:Type="String">originating_debt_amount</Data></Cell>
        <Cell><Data ss:Type="String">debtor_id</Data></Cell>
        <Cell><Data ss:Type="String">debtor_name</Data></Cell>
        <Cell><Data ss:Type="String">in_payment_plan</Data></Cell>
        <Cell><Data ss:Type="String">contact_person_for_transactions</Data></Cell>
        <Cell><Data ss:Type="String">notes</Data></Cell>
        <Cell><Data ss:Type="String">created_at</Data></Cell>
        <Cell><Data ss:Type="String">updated_at</Data></Cell>
        <Cell><Data ss:Type="String">fimas_project_id</Data></Cell>
        <Cell><Data ss:Type="String">fimas_budget_reference</Data></Cell>
        <Cell><Data ss:Type="String">fimas_class_field</Data></Cell>
        <Cell><Data ss:Type="String">fimas_program</Data></Cell>
        <Cell><Data ss:Type="String">fimas_fund_code</Data></Cell>
        <Cell><Data ss:Type="String">fimas_account</Data></Cell>
        <Cell><Data ss:Type="String">fimas_id</Data></Cell>
      </Row>
    <% @debts_all_for_csv.each do |factura| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= factura.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.permit_infraction_number %></Data></Cell>
        <Cell><Data ss:Type="Currency"><%= factura.amount_owed_pending_balance %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.paid_in_full %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.type_of_debt %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= factura.original_debt_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.originating_debt_amount  %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= factura.debtor_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.find_debtor_name(factura.debtor_id) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.in_payment_plan %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.contact_person_for_transactions %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.notes %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.created_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.updated_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.fimas_project_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.fimas_budget_reference %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.fimas_class_field %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.fimas_program %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.fimas_fund_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.fimas_account %></Data></Cell>
        <Cell><Data ss:Type="String"><%= factura.fimas_id %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>