- provide(:title, "Crear Factura Nueva")
%h1.col-md-offset-2 Crear Una Nueva Factura
.row
  -if @debt.errors.any?
    %p.col-md-8.col-md-offset-2
      %strong
        Problemas con:
    - @debt.errors.full_messages.each do |msg|
      %li{:class => 'alert alert-danger col-md-8 col-md-offset-2'}
        = msg
  /
  %h3.col-md-8.col-md-offset-2
    %strong
      = "Añadir una factura a: "
    %p
    - if @debtor 
      %em.grey
        !=" &bull;"
        = @debtor.name
      %em
        = @debtor.tel
        = "  |  "
        = @debtor.contact_person
        %br
        = "EIN: #{@debtor.employer_id_number}"
        %br
        = "Ultimos 4 de SS: #{@debtor.ss_last_four}"
    / 
  %br
  %div{:class => "col-md-8 col-md-offset-2"}
    - if @debtor.blank?
      -#Searchform
    -else     
      =form_for(@debt, url: {params: {debtor_id: @debtor.id}, controller: :debts, action: :create} ) do |f|
        -#render partial: 'layouts/error_messages', :locals => { :object => f.object }
        =f.label :permit_infraction_number, "Número de Permisno o Multa"
        =f.text_field :permit_infraction_number, class: 'form-control', placeholder: 'ex. PG-GE-71-12-10-4 o M-12-12-050-RC'
        =f.label :amount_owed_pending_balance, "Cantidad debida"
        .input-group
          %span.input-group-addon
            ='$'
          =f.number_field :amount_owed_pending_balance, class: 'form-control'
          %span.input-group-addon
            = '.00'   
        =f.label :original_debt_date, "Fecha de la deuda originadora"
        =f.date_field :original_debt_date, class: 'form-control' 
        =#f.label :bounced_check_bank, "Nombre del banco del cheque devuelto"
        =#f.text_field :bounced_check_bank
        =f.label :bounced_check_number, "Número del cheque devuelto"
        =f.number_field :bounced_check_number, class: 'form-control'
        =f.label :notes, "Notas"
        =f.text_field :notes, class: 'form-control'
        =#hidden_field(:debtor_id,@debtor.id)
        =#check_box_tag "en plan de pago?", "0", @debt.payment_plan?
        .btn-group
          =f.submit "Crear Factura", class: "btn btn-large btn-primary"
    /end  
