:css
  .btn {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0)
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 34px;
    cursor: pointer;
  }

- flash.each do |k, v|
  %div{:class => "alert alert-#{k}"}= v
- unless @print#
  %span{:class => 'glyphicon glyphicon-envelope'}
    = button_to "Enviar", email_send_path, :class => "btn btn-large btn-primary", :method => :post, params: { id: @debt.id, mailer: @mailer, user_id: @user.id }
  %span{:class => 'glyphicon glyphicon-print'}
    = button_to "Preparar para Imprimir", email_path, form: {:target => "_blank"}, :class => "btn btn-large btn-primary", :method => :get, params: { id: @debt.id, mailer: @mailer, user_id: @user.id, print: 'true' }
  %hr
  = @mail_preview.header.to_s if @mail_preview
  %hr
/
- if @mail_preview  
  - unless @mail_preview.multipart? 
    = @mail_preview.body.to_s.html_safe 
  - else
    = @mail_preview.html_part.body.to_s.html_safe #@mail_preview.parts[0].body.to_s.html_safe
  /
/