-#coding: utf-8
- provide(:title, "Record de la Factura")
%h1 Factura:
.row
  %aside.span6
    %section
      %h5
        -if @debtor
          %ol.microposts
            = render @debt #render partial: 'debts', :locals => { :collection => @collection }   
          %em Deudor:            
          = link_to @debtor.name, @debtor
          ="   |  Persona Contacto: "
          = @debtor.contact_person
        /end  

  %aside.span4
    %section
      =#yield :logs_sidebar
    %p
      %a{:href => '#{url_for new_payment_plan_path(@debt)}', :class => "btn btn-primary disabled"}
        Añadir Plan de Pago
      %span{:class => 'glyphicon glyphicon-envelope'}
        = button_to "Generar Primer Aviso", email_path, :class => "btn btn-primary", :method => :get, params: {id: @debt.id, mailer: :first}
      %span{:class => 'glyphicon glyphicon-envelope'}
        = button_to "Generar Segundo Aviso", email_path, :class => "btn btn-primary", :method => :get, params: {id: @debt.id, mailer: :second}
      %span{:class => 'glyphicon glyphicon-envelope'}
        = button_to "Generar Tercer Aviso", email_path, :class => "btn btn-primary", :method => :get, params: {id: @debt.id, mailer: :third}
    %p
      /= link_to "Vista preliminar de todos los Emails", rails_email_preview.rep_emails_url(email_locale: 'es', debt_id: @debt.id, current_user: @user)
.row
  %aside
    -if @debt.respond_to?(:mail_logs) && !@debt.mail_logs.blank?
      %table.table.table-stripped
        %thead
          %th
            Enviado el:
          %th
            Email Enviado:
        = render @debt.mail_logs