!!! 5
:scss
  .sidebox {
    float: left;
    width: 100%;
    margin-top: 45px;
  }
  .notopmargin {
    margin-top: 0px;
  }
  .nobottommargin {
    margin-bottom: 0px;
  }
  .center {
    text-align: center;
  }
  .midwide {
    width:200px;
  }
  .verywide {
    width:1000px;
    margin: 30px;
  }
  .small {
    font-size: small;
  }
  .table {
    margin: 35px;
  }
-#######################
#aside.sidebox.small
  :markdown
    Modelo SC 1072  
    8 AGO 97  
    REGL 44 (8 AGO 97)  
.verywide  
  %h1.center.nobottommargin
    ESTADO LIBRE ASOCIADO DE PUERTO RICO
.verywide
  .center
    %h5.nobottommargin
      JUNTA DE CALIDAD AMBIENTAL
    %hr.midwide
  %h6.center.notopmargin.nobottommargin
    Agencia
  .center
    %h5.nobottommargin
      Ponce de León
    %hr.midwide
  %h6.center.notopmargin   
    Dirección 

%br
.verywide
  = "#{I18n.l Date.today, :format => '%d de %B de %Y'}"
%table.table
  %tr
    %td
      =@debt.debtor.name
      %hr.notopmargin
      =@debt.debtor.address
      %hr.notopmargin

%br      
%table.table
  %tr
    %td
      ASUNTO
    %td
      = ":" 
    %td
      = ""
    %td
      = "/SEGUNDO AVISO"
  %tr
    %td
      FACTURA NUM.
    %td
      = ":"
    %td
      = "#{@debt.permit_infraction_number}"
  %tr
    %td
      IMPORTE
    %td
      = ":"
    %td
      = "67.00" 
/  
.verywide
  = "El #{@date_first_email_sent}, le enviamos la factura mencionada en el asunto, sin embargo, aún no hemos recibido el pago."

  :markdown
    Le exhortamos a que envíe su pago dentro de los próximos **30 días** a partir de la fecha de esta comunicación. Debe efectuar el mismo con cheque certificado o giro postal expedido a nombre del **Secretario de Hacienda**. Tan pronto recibamos su pago, dejaremos sin efecto cualquier otra gestión de cobro que haya sigo iniciada.

  :markdown
    De no objetar la deuda dentro de los próxomos **10 días laborables** o de no recibir su pago dentro del término antes indicado, enviaremos el caso a nuestros abogados para que inicien la **acción legal** para el cobro de la misma. También, notificaremos al Secretario de Hacienda para que descuente el importe adeudado de cualesquier pago que trámite el Gobierno a su favor.
  
  :markdown
    Si pago la deuda, favor de enviarnos la evidencia de pago.
  
  :markdown
    Cordialmente, 
  
  = image_tag attachments['signature.jpg'].url, alt: "Firma" if @display_attachments
  %br
  = "Sr. Santos A. Aponte Cancel"
  
  :markdown
    Jefe  
    División de Finanzas
  
  
  
.small.verywide
  AGS  
  
  