%footer.footer
  %nav
    %ul
      %li
        -#TODO REFACTOR##########################
        -# "grupo: #{ current_user.nil? ? 'ninguno' : '' }"
      %li
        = "usuario actual: #{ current_user.nil? ? 'ninguno' : current_user.email }"
      %li
        %span.gplyhicon.glyphicon-question-sign
        = link_to '<span class="glyphicon glyphicon-question-sign"></span> Ayuda'.html_safe, help_path
      %li
        = link_to "Usuario Nuevo", new_user_registration_path
      