%footer.footer
  %nav
    %ul
      %li
        = "rol: #{ current_user.nil? ? 'ninguno' : UserRole.find_by_id(current_user.user_role_id).role_name } REFACTOR"
      %li
        = "usuario actual: #{ current_user.nil? ? 'ninguno' : current_user.email }"
      %li
        = link_to '<i class="icon-info-sign"></i>Ayuda'.html_safe, help_path
      %li
        = link_to "Usuario Nuevo", new_user_registration_path
      