%header{ :class => 'navbar navbar-default navbar-fixed-top0 navbar-inverse', :role => 'navigation' }
  .container-fluid
    .navbar-header
      =link_to "Rukh", home_path, id: "logo", class: 'navbar-brand'
    .collapse.navbar-collapse
      .nav.navbar-nav.navbar-right
        %ul{ :class => 'nav navbar-nav' }
          -if signed_in?
            -# %li= link_to "Lista de Deudores", debtors_path
            %li= link_to "Facturas", debts_path
            %li= link_to "Deudor Nuevo", new_debtor_path
            %li= link_to "Buscar Deudor", search_path
            %li= link_to "Log out", destroy_user_session_path, method: "delete"    
            %li.dropdown
              %a{:href => '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' }
                Usuario
                %b.caret
              %ul.dropdown-menu
                %li= link_to "#{@user.email if @user}", '#'
                %li.divider
                -# %li= link_to "Información del Usuario", current_user #Unavailabe in Devise
                -# %li= link_to "Los Usuarios", users_path              #Unavailabe in Devise
                %li= link_to "Actualizar Información", edit_user_registration_path(current_user)
                %li.divider
                %li= link_to "Log out", destroy_user_session_path, method: "delete"
          -else
            %li= link_to "Log in", new_user_session_path #'/login'
 