!!! 5
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title
      = "Rukh | #{yield :title}"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag(asset_path('favicon.ico'))
    = render 'layouts/shim'
  %body  
    = render 'layouts/header'
    .container
      - flash.each do |k, v|
        - notice_hash = {'error' => 'danger', 'notice' => 'info', 'success' => 'success'}
        %div{:class => "alert alert-#{notice_hash.fetch(k, 'warning')} #{k}"}= v
      =yield
      = render 'layouts/footer'
      =debug(params) if Rails.env.development?

